body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  padding: 0.5rem 1rem;
}

header h1 {
  margin: 0;
}

#time-filter {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#selected-time,
#any-time {
  display: block;
}

#any-time {
  font-style: italic;
  color: black;
}