html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

#map svg circle, .legend > div {
  pointer-events: auto;
  --color-departures: steelblue;
  --color-arrivals: darkorange;

  --color: color-mix(
  in oklch,
  var(--color-departures) calc(100% * var(--departure-ratio)),
  var(--color-arrivals)
);
fill: var(--color);
}

#map svg circle {
  fill: var(--color);
}

.legend > div {
  background-color: var(--color);
}

.legend {
  display: flex;
  flex: 1;
  gap: 1px;
  margin-block: 0.75rem 0;
  font-size: 0.85rem;
}

.legend > div {
  flex: 1;
  padding: 0.25rem 0.75rem;
  color: white;
}
